@import "../../styling/definitions";

input {
  outline: none;
  border: 2px solid @dark-blue;
  border-radius: 6px;
  height: 40px;
  padding: 15px;
  width: 100%;
}

input:hover, input:focus, input:active, input:focus-visible {
  background-color: @ultralight-blue;
}
