@import "../../styling/definitions";

.add-button {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.button {
  border-radius: 12px;
  padding: 10px 6px;
  background-color: @light-pastel-green;
  border: none;
  min-width: 80px;
  cursor: pointer;
}

.button:hover, .button:active, .button:focus {
  background-color: @darker-pastel-green;
}
