@import "../../styling/definitions";

.expandable-card {
  padding: 10px 20px;
  border-radius: 6px;

  .expandable-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .expandable-card-content {
    padding-top: 20px;
  }
}

.expandable-card-green {
  background-color: @light-pastel-green;
}

.expandable-card-white {
  background-color: white;
}
