// FONTS
@font-face {
  font-family: 'Open sang';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap') format('woff2');
}
@font-family-one: 'Open Sans', sans-serif;

// COLORS
@text-color: #151515;
@dark-blue: #303C6C;
@light-blue: #B4DFE5;
@ultralight-blue: #D2FDFF;
@primary-orange: #F4976C;
@dark-orange: #ed8453;
@primary-yellow: #FBE8A6;
@primary-green: #9ec269;
@dark-green: #8dad5c;

// MEDIA QUERIES
@mobile: ~"only screen and (max-width: 700px)";
