// FONTS
@font-family-one: 'Montserrat', sans-serif;

// COLORS
@text-color: #32402e;
@dark-blue: #303C6C;
@light-blue: #B4DFE5;
@ultralight-blue: #D2FDFF;
@primary-orange: #F4976C;
@dark-orange: #ed8453;
@primary-yellow: #FBE8A6;
@primary-green: #9bbe97;
@dark-green: #7AA874;
@ultralight-green: #EDF1D6;
@light-green: #e0f1d6;

// MEDIA QUERIES
@mobile: ~"only screen and (max-width: 700px)";
